body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


ul{
    list-style: none;
}

h2{
    display: flex;
    justify-content: center;
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
}


.hero{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.card{
    border: 1px solid blue;
    border-radius: 16px;
    width: 300px;
    height: 150px;
    display: flex;
}

.container{
    background-color: white;
    display: flex;
    align-items: bottom;
    justify-content: space-between;
}

.quote-section{
    background-color: #e5e7eb;
}

.quote{    
    display: flex;
    text-align: center;
    flex-direction: column;
}

.container-quote{
    display: flex;
    align-items: center;
}

.action{
    border: solid;
    border-radius: 10px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    flex-direction: column;
    pa
}
